<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="jogos" href="/tabs/jogos">
      <ion-icon aria-hidden="true" name="library"></ion-icon>
      <ion-label>Todos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meus-jogos" href="/tabs/meus-jogos">
      <ion-icon aria-hidden="true" name="game-controller"></ion-icon>
      <ion-label>Possuo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-desejos" href="/tabs/lista-desejos">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Desejos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
